.blockBoxs {
    display: block;
    background-color: #fdfdfd;
    background-color: #e1f7fd;
    height: 300rpx;
    width: 300rpx;
    border-radius: 30rpx;
    margin: 0 auto;
    margin-top: 50rpx;
    text-align: center;
    box-shadow: 0 0 30rpx 4rpx rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .blockBoxsText {
        margin-top: 10rpx;
    }
}

.userinfo-avatar {
    overflow: hidden;
    width: 128rpx;
    height: 128rpx;
    margin: 20rpx;
    border-radius: 50%;
}

.userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400rpx;
    width: 750rpx;
    box-shadow: 0 0 30rpx 3rpx rgb(240, 240, 240);
    padding-bottom: 10rpx;
}

.loginBtn {
    width: 200rpx;
    height: 80rpx;
    background-color: rgb(36, 157, 255);
    border-radius: 50rpx;
    text-align: center;
    line-height: 80rpx;
    color: white;
    margin: 0 auto;
    box-shadow: 0 0 20rpx rgb(228, 228, 228);
    margin-top: 50rpx;
}

.no-login {
    border-radius: 50%;
    background-color: rgb(156, 156, 156);
    border: 1px solid white;
    height: 120rpx;
    width: 120rpx;
    line-height: 120rpx;
    text-align: center;
    color: white;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn {
    margin-left: 10rpx;
    border: 0px;
    border-radius: 0;
}

.sakura {
    height: 500rpx;
    width: 200rpx;
}

.block {
    position: relative;
    width: 240px;
    height: 240px;
    background: #fff;
    border-radius: 46rpx;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-btn {
    position: absolute;
    left: 50%;
    margin-left: -32rpx;
    bottom: calc(-1 * (48rpx + 64rpx));
    z-index: 999999999;
}

.inputBox {
    height: 100rpx;
    margin-bottom: 100rpx;
}

.wrapper {
    margin: 32rpx;
    display: block;
}