<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.maosi.weddingServer.mapper.ActivityWinMapper">
  <resultMap id="BaseResultMap" type="vip.maosi.weddingServer.domain.ActivityWin">
    <!--@mbg.generated-->
    <!--@Table activity_win-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="activity_prize_id" jdbcType="INTEGER" property="activityPrizeId" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `uid`, activity_id, activity_prize_id, `date`, memo
  </sql>
</mapper>