<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.maosi.weddingServer.mapper.ImageMapper">
  <resultMap id="BaseResultMap" type="vip.maosi.weddingServer.domain.Images">
    <!--@mbg.generated-->
    <!--@Table images-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="file_size" jdbcType="BIGINT" property="fileSize" />
    <result column="file_data" jdbcType="BLOB" property="fileData" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, filename, file_type, file_size, file_data
  </sql>
</mapper>