<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.maosi.weddingserver.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="vip.maosi.weddingserver.domain.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, openid, `date`, avatar_url, nick_name
  </sql>
</mapper>