.bg {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 750rpx;
}

.wrapper {
    position: fixed;
    bottom: 0;
    height: 650rpx;
    width: 100%;
}

page {
    overflow: hidden;
}

.countdown-title {
    text-align: center;
    font-size: 60rpx;
    color: #f5ccc7;
}

.countdown-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.external-count {
    color: #f5ccc7;
    margin-top: 20rpx;
}

.btn-join,.btn-is-join,.btn-win,.btn-is-win {
    width: 400rpx;
    background-color: #f5ccc7;
    border-radius: 50rpx;
    text-align: center;
    margin: 0 auto;
    line-height: 100rpx;
    margin-top: 20rpx;
    box-shadow: 1rpx 1rpx 30rpx red;
    color: red;
    font-weight: bolder;
}

.btn-is-join {

}

.text {
    padding: 0 30rpx;
    color: #f5ccc7;
    margin-top: 20rpx;
}

.prizeList {
    padding: 0 30rpx;
    color: #f5ccc7;
    text-align: center;
    .prizeTitle {
        font-size: 40rpx;
    }
    .prizeListItem {
        font-size: 32rpx;
        overflow-y: scroll;
    }
}