.bg {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 750rpx;
}

.wrapper {
    position: fixed;
    top: 200rpx;
    height: 550rpx;
    width: 100%;
}

.wrapperBottom {
    position: fixed;
    bottom: 0;
    height: 650rpx;
    width: 100%;
}

page {
    overflow: hidden;
}

.countdown-title {
    text-align: center;
    color: #f2786d;
    font-weight: 900;
    animation-name: myScale;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.countdown-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.external-count {
    color: red;
    font-size: 60rpx;
    margin-top: 20rpx;
}

.btn-join,
.btn-is-join,
.btn-win,
.btn-is-win {
    // width: 400rpx;
    // background-color: #f5ccc7;
    // text-align: center;
    // margin: 0 auto;
    // line-height: 100rpx;
    // margin-top: 20rpx;
    // box-shadow: 1rpx 1rpx 30rpx red;
    // color: rgb(255, 57, 57);
    // font-weight: bolder;
    // border-radius: 50px;
    position: absolute;
    z-index: 9;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    color: pink;
    top: 40%;
    padding: 60rpx 0;
}

.wrap {
    position: relative;
    width: 370rpx;
    height: 300rpx;
    margin: 0 auto;
    animation: love 1s infinite;
}

.box-left {
    width: 150rpx;
    height: 250rpx;
    background-color: red;
    /* 平移、旋转 */
    transform: translate(55rpx) rotate(-45deg);
    /* 圆角属性 */
    border-radius: 120rpx 120rpx 0 0;
    /* 添加阴影光环 */
    box-shadow: 0 0 80rpx 0 red;
}

.box-right {
    /* 此处通过给盒子2使用定位属性使两个盒子重叠;或者给盒子1使用浮动属性，第二个盒子不变 用一种即可*/
    position: relative;
    top: -250rpx;
    width: 150rpx;
    height: 280rpx;
    background-color: red;
    /* 平移、旋转 */
    transform: translate(161rpx) rotate(45deg);
    /* 圆角属性 */
    border-radius: 120rpx 120rpx 0 0;
    /* 添加阴影光环 */
    box-shadow: 0 0 80rpx 0 red;
}

/* 爱心的动画名字为love，一定要前后对应 */
@keyframes love {

    /* 此处主要是通过变形属性的缩放来实现跳动 */
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}


.text {
    padding: 0 30rpx;
    color: #fb8d9a;
}

.prizeList {
    padding: 0 30rpx;
    height: 180rpx;
    color: #ff5534;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;

    .prizeTitle {
        font-size: 40rpx;
    }

    .prizeListItem {
        font-size: 32rpx;
        width: 300rpx;
        height: 100%;
        margin: 0 auto;
        border-radius: 30rpx;
        margin-top: 10rpx;
        overflow-y: scroll;
        border: 1px solid gold;
    }
}

@keyframes shine {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    50% {
        box-shadow: 0 0 10px 3px gold;
    }

    100% {
        box-shadow: 0 0 0 0 transparent;
    }
}

.shining-box {
    animation-name: shine;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.jump-text {
    display: inline-block;
    animation-name: jump;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    padding-top: 10rpx;
}

.jump-text:nth-child(1) {
    animation-delay: 0s;
}

.jump-text:nth-child(2) {
    animation-delay: 0.2s;
}

.jump-text:nth-child(3) {
    animation-delay: 0.4s;
}

.jump-text:nth-child(4) {
    animation-delay: 0.6s;
}

.jump-text:nth-child(5) {
    animation-delay: 0.8s;
}

.jump-text:nth-child(6) {
    animation-delay: 1s;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10rpx);
    }

    100% {
        transform: translateY(0);
    }
}

.wave-text {
    position: relative;
    animation-name: wave;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    margin-top: 10rpx;
}

.t-popup {
    border-radius: 50rpx !important;
}

.success {
    height: 530rpx;
    width: 500rpx;
    position: relative;
    background-color: white;
    border-radius: 50rpx;
}

.wrapperSuccess {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.radus {
    border-radius: 30rpx 30rpx 50% 50%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.close {
    position: absolute;
    bottom: -100rpx;
    left: 50%;
    transform: translateX(-50%);
}

.block {
    border-radius: 40rpx !important;
}

.acquire {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
}

.openid {
    font-size: 20rpx;
    text-align: center;
    margin: 20rpx 0 0 0;
    color: #fb8d9a;
}

.btnGood {
    width: 174px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 28px;
    font-weight: bold;
    background: linear-gradient(71deg, #FF7272 1%, #FF7272 31%, #FFAB87 85%);
    border-radius: 34px;
    position: absolute;
    bottom: 30rpx;
    left: 0;
    right: 0;
}

.arc {
    background: linear-gradient(71deg, #FF7272 1%, #FF7272 31%, #FFAB87 85%);
    height: 150rpx;
    border-radius: 0 0 50% 50%;
    text-align: center;
}

.radus {
    border-radius: 30rpx 30rpx 50% 50%;
    text-align: center;
    line-height: 150rpx;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}